<a  
href="<%= url %>"  
style="display:block;width:500px;height:375px" 
id="player"> </a>
<!-- this will install flowplayer inside previous A- tag. -->
<script>
flowplayer("player", "/flowplayer/flowplayer-3.0.3.swf",{clip:{autoPlay: false, autoBuffering: false}});
</script>