<!-- 页脚 开始 -->
<hr class="space" />
<hr />
<div id = "footer">
  <!-- Created by: <a href = "http://ralphedge.com">Ralph Edge</a>, 2009<br />
  Blog: <a href = "http://railsonedge.blogspot.com" target = "_blank">http://railsonedge.blogspot.com</a><br />
  Portfolio: <a href = "http://www.ralphedge.com/" target = "_new">http://www.ralphedge.com</a> -->  
Powered by <%= link_to "ShadowGraph", "http://github.com/johnson/shadowgraph", :class => "logo" %>
</div>
<!-- 页脚 结束 -->